:root {
    --color-Fundo1: #f6f62c;       /* Cor de fundo principal */
    --color-Fundo2: #CFB53B;       /* Cor de fundo secundária */
    --color-FundoIcon: #FFFFFF;    /* Cor do ícone */
    --color-Fontes: #2F2F4F;       /* Cor das fontes */
    --color-Adicionar1: #009900;   /* Cor do botão adicionar */
    --color-Adicionar2: #006600;   /* Cor do botão adicionar (hover) */
    --color-Remover1: #CC0000;     /* Cor do botão remover */
    --color-Remover2: #990000;     /* Cor do botão remover (hover) */
    --color-Editar1: #0000CC;      /* Cor do botão editar */
    --color-Editar2: #000099;      /* Cor do botão editar (hover) */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-Fundo1);
    color: var(--color-Fontes);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin: 0;
    padding: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 600px;  /* Limite de largura para a responsividade */
}

.content--add-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#input-novo-item,
#btn-novo-item {
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
}

#input-novo-item {
    flex: 1;
    border-radius: 1rem;
    max-width: 300px;  /* Limite de largura para o input */
}

#btn-novo-item {
    background-color: var(--color-Adicionar1);
    color: var(--color-FundoIcon);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: background-color .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-novo-item:hover {
    background-color: var(--color-Adicionar2);
}

#market-list, #bought-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

#market-list li, #bought-list li {
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color .4s;
}

#market-list li:hover, #bought-list li:hover {
    background-color: var(--color-Fundo2);
}

#market-list li button, #bought-list li button {
    border: none;
    color: var(--color-FundoIcon);
    padding: 0.4rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .4s;
}

#btn-remover {
    background-color: var(--color-Remover1);
}

#btn-remover:hover {
    background-color: var(--color-Remover2);
}

#btn-editar {
    background-color: var(--color-Editar1);
}

#btn-editar:hover {
    background-color: var(--color-Editar2);
}

#bought-list li {
    text-decoration: line-through;  /* Itens removidos aparecem riscados */
}
